%h1 Our customers

= link_to '+ New Customer', new_customer_path
= link_to 'Market', market_path
= link_to 'Recent', transactions_path(from: "-1y")

%table.customers
  %tr
    %th Name
    %th Last Visit
    %th Balance
  - vm.customers.each do |customer|
    %tr.customer
      %td.name= link_to customer, customer
      %td.last-visit= customer.last_transaction
      %td.balance= money customer.balance
