= link_to '<< Back', :action => 'index'

%h1= vm.customer.name

= link_to 'edit', :action => 'edit'

- if vm.customer.slug
  %p.customer-slug
    %a{href: self_service_url(vm.customer.slug)}= self_service_url(vm.customer.slug)
%p.customer-notes
  = vm.customer.notes

= form_for [vm.customer, vm.new_transaction] do |f|
  %table.transactions
    %tr.starting-balance
      %td.date
      %td.description start
      %td.amount= money vm.transaction_summary.starting_balance
    - vm.transaction_summary.entries.each do |transaction|
      %tr.transaction
        %td.date= date transaction.occurred_on
        %td.description= transaction.description
        %td.amount= money transaction.amount
        %td= link_to 'delete', [vm.customer, transaction], :method => :delete, :data => { :confirm => "Are you sure you want to delete \"#{transaction}\"?" }
    %tr.current-balance
      %td.date= date Date.today
      %td.description current
      %td.amount= money vm.transaction_summary.current_balance
    %tr
      %td.date= f.date_field :occurred_on
      %td.description= f.text_field :description
      %td.amount
        $
        = f.text_field :amount
      %td positive is credit, negative is purchases
    %tr
      %td.date
      %td.description
      %td.amount= f.submit 'Add'
