!!!
%html
  %head
    %title
      Your Market Money
    = stylesheet_link_tag "application", media: "all"

  %body

    %h1
      = app_title

    %h2
      = vm.customer.name

    %table.transactions
      %tr.starting-balance
        %td.date
        %td.description start
        %td.amount= money vm.transaction_summary.starting_balance
      - vm.transaction_summary.entries.each do |transaction|
        %tr.transaction
          %td.date= date transaction.occurred_on
          %td.description= transaction.description
          %td.amount= money transaction.amount
      %tr.current-balance
        %td.date= date Date.today
        %td.description current
        %td.amount= money vm.transaction_summary.current_balance
